/* These are the theme variable colors used throughout the website */

:root{
  --main-color:#121212;
  --accent-color:#5d63b5;
  --font-color:#f2f2f2;
  --dark-gray:#444;
  --light-gray:#c1c1c1;
  --red: #dc143c;
  --gtcolumns-3: 1fr 2fr 2fr;
  --nice-fonts:'Open Sans', sans-serif;
  --headliners:'Dosis', sans-serif;




}



