

/* about_me start */

section.about_me{
  /* temp solution until it is replace with a canvas element */
  margin-top: 2em;
}

section.about_me > h2{
  margin-bottom: 20px;
}

div.about_me {
  /* opacity:.5; */
  background-color: var(--main-color);
  width: 40em;
  padding: 1em;
  line-height:1.7em;
  box-shadow: 4px 1px 4px 1px var(--gray);
}

div.about_me > svg{
  float: left;
  margin: 10px 15px 15px 10px;
}

div.about_me > p{
  height: 14em;
  opacity: .9;
}

/* about_me end */
