

/* about_me start */

section.about_me{
margin-top: 2em;   /* temp solution until it is replace with a canvas element */

background: url(../assets/images/skyline.svg) no-repeat center var(--main-color);
background-size: cover;
background-position-y:center ;
background-attachment: scroll;
background-clip: border-box;
padding: 100px;
}

section.about_me > h2{
  margin-bottom: 20px;
}

div.about_me {
  /* opacity:.5; */
  background-color: var(--main-color);
  width: 40em;
  padding: 1em;
  line-height:1.7em;
  box-shadow: 4px 1px 4px 1px var(--gray);
  opacity: .7;
}

div.about_me > svg{
  float: left;
  margin: 10px 15px 15px 10px;
}

div.about_me > p{
  height: 14em;
}

/* about_me end */
