/* Nav menu start */
@keyframes changedrop-shadow {
  from {
    filter: drop-shadow(0 0 .75rem var(--red));
  }
  to {
    filter: drop-shadow(0 0 0 var(--red));;
  }
}

div {
  animation-duration: 0.1s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logo{
  display: flex;
  align-items: center;
  gap:1em;
  color: var(--font-color);
}

.logo > svg{
  animation-duration: 5.0s;
  animation-name: changedrop-shadow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

nav{
  text-transform: uppercase;
}


.nav-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--main-color);
  padding:1.5em 2em 1em;
}

.nav-menu ul{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:0 35px;
}

.nav-menu ul li:hover a{
 opacity: .5;
}



/* Nav menu end */
