/* These are the theme variable colors used throughout the website */

:root{
  --main-color:#000000;
  --accent-color:#5d63b5;
  --font-color:white;
  --dark-gray:#444;
  --light-gray:#c1c1c1;
  --red: #dc143c;
  --gtcolumns-3: 1fr 2fr 2fr;
  --nice-fonts: "Source Sans Pro", "Gotham XNarrow A","Gotham XNarrow B", "Segoe UI", Roboto, Helvetica, Neue, Arial, sans-serif ;




}



