

/* about_me start */

section.about_me{
/* background: url(../../assets/images/skyline.svg) no-repeat center var(--main-color); */
background-size: cover;
background-position-y:center ;
background-attachment: scroll;
background-clip: border-box;
padding: 100px;
}

section.about_me > h2{
  margin-bottom: .2em;
  font-size: 1.8em;
}

div.about_me {
  background-color: var(--main-color);
  width: 50%;
  padding: 1em;
  line-height:1.7em;
  box-shadow: 4px 1px 4px 1px var(--gray);
  opacity: .6;
  min-height: 1em;
  text-align: justify;
}

div.about_me > img{
  float: left;
  margin: 10px 2.5em 1px 10px;
  width: 5em;
  height: 5em;
}

div.about_me > img{
  width: 5em;
  height: 5em;
  filter: drop-shadow(0 0 .75rem var(--font-color));

}

div.about_me > img:hover{
  width: 5em;
  height: 5em;
  filter: drop-shadow(5px 10px 1em var(--font-color))
}


/* about_me end */
