
section.contact{
  /* border:red solid 1px; */
}

.contact_me.form{
  display: flex;
  flex-flow: column;
 justify-content: space-between;
 align-items:center;
 /* border:red dotted 2px; */
}

.contact_me.form > form{
  min-width: 100%;

  /* border:red double 3px; */

}

.contact_me.form > form > ul{
 display: flex;
 flex-flow:column;
 justify-content: space-between;
 align-items: center;
 row-gap:1rem;
 /* border:yellow solid 3px; */

}

.contact_me.form > form > ul li{
  flex-flow: column;
  display: flex;
  justify-content:center ;

  column-gap:.5em;
  min-width: 20em;
  min-height: 5em;

  border:green solid 3px;
}

.contact_me.form > form > ul > li > label {
  font-family: var(--headliners);
  font-size: 1.5em;
}

/* textarea */

.contact_me > form input, textarea{
  font: 1em sans-serif;
  width: 100%;
  height:2.0em;
  border-style:none;
  background-color: var(--main-color);
  transition: height .5s ease-in-out ;
}
.contact_me.form > form textarea{
  height:10em;
  padding:.5em;

}
.contact_me > form input:focus, textarea:focus{
  border-color: var(--main-color);
  outline: none;
}

.contact_me  textarea:focus {
  text-align: top;
  height: 5em;
}


/* submit button */
contact_me > form > ul > li.button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: var(--accent-color);
  height: 1.5em;
}

.contact_me > form > ul > li.button > button{
  color:var(--font-color);
  background-color: var(--accent-color);
  border-style: none;
  width:100%;
  border-radius:30px;
  cursor: pointer;
  color:var(--main-color);
}

.contact_me > form > ul > li.button > button:active{
  box-shadow: inset 0px 0px 5px var(--light-gray);

}