

/* footer start */
footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color:  var(--main-color);
  /* min-height: 5em; */
  padding: 1em 0 ;
  /* row-gap:2em; */
}

footer > div.social_links{
  display: flex;
  justify-content: center;
  column-gap: 2em;
 }

 footer > p.copyright{
  display: flex;
  align-items: center;
  width:auto;
  font-size: .8em;
 }


 /* .logo.footer{
  display: flex;
  justify-content: center;
  width: 100%;
 } */

 /* .logo.footer>a{
  padding:.5em;
 } */

 /* footer > ul.site_links{
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 2em;
 } */

 /* footer > ul.site_links li:hover a{
  opacity: .5;
 } */


    /* need to make this fading on both ends */
 /* footer > hr.footer.divider{
  border: 1px var(--gray) solid;
  margin:2em 0;
  opacity: .1;
  width: 80%;
 } */



  /* footer end */
