

/* footer start */
footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color:  var(--main-color);
  /* min-height: 5em; */
  padding: 1em 0 ;
  /* row-gap:2em; */
}

footer > div.social_links{
  display: flex;
  justify-content: center;
  column-gap: 2em;
 }

 footer > p.copyright{
  display: flex;
  align-items: center;
  width:auto;
  font-size: .8em;
  font-family: var(--headliners);
 }






  /* footer end */
