

div.greeting_screen{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-height: 100vw; */
}



div.greeting_screen > .content > img.logo {
    width:8.5em;
    aspect-ratio: 1/1;
    vertical-align: bottom;
}

div.greeting_screen .greeting_container{
  display: inline-block;
  gap:.5em 0;
  height:auto;
  width: auto;
  font-family: "Source Sans Pro";
}

div.greeting_screen .greeting_container > p.greeting{
  text-align: center;
  font-size: 3.9em;
  font-weight:bolder;
}

div.greeting_screen .greeting_container > a.call_to_action{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: .4em;
  color:var(--main-color);
  border-radius: 30px;
  background-color: var(--accent-color);
}