

.main_projects{
  padding: 10%;
}

.github{
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.github >.card{
  display: flex;
  flex-flow: column ;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  cursor: pointer;
  padding:.5em;
}

.card > .title{
  max-width: 100%;
  max-height: 100%;
}

.card > .title > h1 {
  font-family: var(--headliners);
  text-transform: uppercase;
  font-size: 1.2em ;
}

.card > .image{
max-width: 100%;
max-height: 100%;
}


.card > .image > img{
  max-width: 100%;
  max-height: 100%;
}

.card > .description{
  max-width: 100%;
  max-height: 100%;
}

.card > .description > p{
  font-family: var(--nice-fonts);
  max-width: 100%;
  max-height: 100%;

}

/* codepen start */


/* codepen end */

/*github start */

/* .section.github{
  grid-row:2;
  background-color: var(--main-color);
}

.card{
  background-color: black;
}

.card-img-overlay{
  cursor: pointer;
  padding:0;
} */

/* .card-img-overlay:hover{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.card-body{
  border:solid red 1px;
}

.card-text{
  color:black;
  font-family: var(--nice-fonts);
}

.card-body:hover{

} */



/* .main_projects section.github .project_list{
  text-align: left;
  padding-bottom:.5em;
  border-bottom: solid #696767 1px;
} */

/* .main_projects section.github .project_list:hover{
  transition: all .15s ease;
  background-color: #ffffff0d;
} */

/* .main_projects section.github .project_list .project.language{
  display: inline-block;
  border:solid white 1px;
  border-radius: 1000px 1000px;
  margin:.4em .2em .2em .2em;
  padding:5px;
  font-size: 13px;
  opacity: .7;
  text-transform:capitalize;
} */

/*github end */