/* start of main containter */
.main_writings{
  display: grid;
  grid-gap: 8vmin;
  grid-template-columns: var(--gtcolumns-3);
  height: 100%;
  margin: 8vmin;
}

/* end of main containter */

/* start of List */
.main_writings section.technical.writing{
  grid-column: 3;
}

.main_writings section.technical.writing .writing.list{
  text-align: left;
  padding-bottom:.5em;
  border-bottom: solid #696767 1px;
}

.main_writings section.technical.writing div.writing.list:hover{
  transition: all .15s ease;
  background-color: #ffffff0d;
  cursor: pointer;
}

 .title.post{
  text-transform: capitalize;

}

/* End of List */

/* start of content */
section.technical.writing.content{
grid-column: 2;
  grid-row:1;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}





/* end of content */